<!--BUSCAR RESTAURANTE POR NOMBRE-->

<div class = "card card-body">
    <div class="form-group">
        <input type ="text" name="buscar"[(ngModel)]="nombreRes" class ="form-control" placeholder="Buscar Restaurante">
    </div>
    <button class ="btn btn-danger" (click)="buscaRestaurante($event,nombreRes)">
       Buscar
    </button>
    


<!-- FORMULARIO PARA AGREGAR RESTAURANTE-->

    <form (ngSubmit)="addRestaurante()">

        <div class="form-group">
            <input type ="text" name="name"[(ngModel)]="restaurante.name" class ="form-control" placeholder="Nombre Restaurante">
        </div>
        <div class="form-group">
            <input type ="number" name="latitd"[(ngModel)]="restaurante.lat"class ="form-control"placeholder="Latitud">
        </div>
        <div class="form-group">
            <input type ="number" name="longitud"[(ngModel)]="restaurante.lng" class ="form-control"placeholder="Longitud">
        </div>
        
     
        <button type ="submit"class="btn btn-dark btn-block">
            Guardar
        </button>
        
    
    </form>

    
        
    
</div>
