<div *ngIf="restaurantes.length > 0; else norestaurante">
    <ul class="list-group">
        <li *ngFor="let p of restaurantes" class="list-group-item list-group-item-action">
            <h3>{{p.name}}</h3>
            <h5>{{p.lat}}</h5>
            <h5>{{p.lng}}</h5>

            <button (click)="anadirPlatillo($event,p)" class="btn btn-secondary">
                Añadir platillos
            </button>
            
            <div *ngIf="adding && addPlatillos.id == p.id">
                <form (ngSubmit)="addsPlatillo()">
                    <div class="form-group mt-3">
                        Nombre platillo:
                        <br>
                        <input type="text" name="namePlat" class="form-control" [(ngModel)]="platillo.nombre" placeholder="Nombre platillo">
                    </div>
                    <div class="form-group">
                        Descripción platillo:
                        <br>
                        <input type="text" name="descPlat" class="form-control" [(ngModel)]="platillo.descripcion" placeholder="Descripción del platillo">
                    </div>
                    <div class="form-group">
                        Precio platillo:
                        <br>
                        <input type="number" name="pricePlat" class="form-control" [(ngModel)]="platillo.precio" placeholder="Precio">
                    </div>
                    <button type="submit" class="btn btn-success btn-block mb-2">
                        Añadir platillo
                    </button>

                    

                </form>

               
                <button (click)="getPlatillos($event,p)" class="btn btn-secondary btn-block mb-5">
                    Mostrar platillos
                </button>

                <ul class="list-group">
                    <li *ngFor="let pl of platillos_a" class="list-group-item list-group-item-action">
                        <h5>{{pl.nombre}}</h5>
                        <button (click)="deletePlatillo($event,p,pl)" class="btn btn-danger">
                            Eliminar
                        </button>
                    </li>
                </ul>

            </div>
            <button (click)="deleteRestaurante($event,p)" class="btn btn-danger">
                Delete
            </button>
            <button (click)="editRestaurante($event,p)" class="btn btn-secondary">
                Edit
            </button>
            <div *ngIf="editing && editingRes.id == p.id">
                <form (ngSubmit)="updateRestaurante()">
                    <div class="form-group mt-3">
                        <input type="text" name="name" [(ngModel)]="editingRes.name" class="form-control">
                    </div>

                    <div class="form-group">
                        <input type="text" name="latitud" [(ngModel)]="editingRes.lat" class="form-control">
                    </div>

                    <div class="form-group">
                        <input type="text" name="longitud" [(ngModel)]="editingRes.lng" class="form-control">
                    </div>

                    <button type="submit" class="btn btn-success btn-block">
                        Update
                    </button>

                </form>

            </div>



        </li>
    </ul>

</div>

<ng-template #norestaurante>
    <p>Aún no se agregaron los restaurantes.</p>

</ng-template>