<hr>
<div class="container">
    <div class="form-group">
        <button type="button" class="btn btn-warning container" (click)="res=!res">Registrar restaurante</button>
    </div>

</div>
<div class="container pt-4">
    <div class="row">
        <div class="col-md-5">


            <app-restaurante-form *ngIf="res"></app-restaurante-form>
        </div>
        <div class="col-md-7">
            <app-restaurante *ngIf="res"></app-restaurante>
        </div>
    </div>
</div>

<hr>
<div class="container">
    <div class="form-group">
        <input type="number" name="buscar" [(ngModel)]="precio" class="form-control"
            placeholder="Ingresa tu presupuesto">
            <br>
            <button class="btn btn-info" (click)="buscaRestaurante($event,precio)">
                Buscar
            </button>        
    </div>
    
   
</div>