


 <button type="button" class="btn btn-warning" (click) ="res=!res">Registro</button>
<div class ="container pt-4">
    
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <input type ="number" name="buscar"[(ngModel)]="precio" class ="form-control" placeholder="Ingresa tu presupuesto">
            </div>
            <button class ="btn btn-danger" (click)="buscaRestaurante($event,precio)">
               Buscar
            </button>

            <app-restaurante-form *ngIf="res"></app-restaurante-form>
        </div>
        <div class="col-md-7">
            <app-restaurante *ngIf="res"></app-restaurante>
        </div>
    </div>
</div>




